


.swiper-button-next,
.swiper-button-prev {
  color: #d1d5db;  
  background: none; 
}

.swiper-button-next::after,
.swiper-button-prev::after {
  font-size: 22px;
  font-weight: bold;
}

.swiper-pagination-bullet {
  background: #ffffff;
  opacity: 0.4;
}

.swiper-pagination-bullet-active {
  background: #ffffff;
  opacity: 1;
}
